/*#------------------------------------------------------------------------------------------#
# Version    : 1.0
# Date       : 29.06.2022
# Description: This ist the stylesheet for the Script 'server.php'. The stylesheet define the
               rules for the construction of the webserver.

#------------------------------------------------------------------------------------------#*/

h2 { /* header style */
  font-size: 32px;
  text-align: center;
  list-style-type: none;
  color: #000;
}


#style for website html,
body {
  background-image: linear-gradient(#e5dddd, #958f8f);

}

.container { /* defines structure of website*/
  display:flex;
  flex-direction: row;
  gap: 3px;
}

.image figcaption { /* caption of images*/
  font-size: 20px;
  text-align: center;
  color: #000;
}
.image img { /* structure of images*/
  width: 100%;
  height: auto;
  padding: 0;
  border-left: thin solid rgb(255 255 255);;
  border-right: thin solid rgb(255 255 255);
  border-bottom: thin solid rgb(255 255 255);
  border-top: thin solid rgb(255 255 255);
}


.Table { /*structure of table*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.data { /* appearance of inner table*/
  display: flex;
  justify-content: center;
}


table,
th,
td { /* border of inner and outer table*/
  border-collapse: collapse;
  padding: 0;
}

table {
  margin-left: 0;
}

th { /* appearance of header in table*/
  width: 140px;
  height: 30px;
  background-image: linear-gradient(#1b1a1a, #4d4949);
  color: #fff;
  border: thin solid rgb(0, 0, 0);
  border-left: thin solid rgb(0, 0, 0);
  border-right: thin solid rgb(0, 0, 0);
  border-bottom: thin solid rgb(0, 0, 0);
  border-top: thin solid rgb(0, 0, 0);
}

td { /* appearance of data in table*/
  height: auto;
  background-image: linear-gradient(#f9f9f9, #e3e3e3);
  border-left: thin solid rgb(0, 0, 0);;
  border-right: thin solid rgb(0, 0, 0);
  border-bottom: thin solid rgb(0, 0, 0);
  border-top: thin solid rgb(0, 0, 0);
  text-align: center;
}
